*{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    list-style: none;
    text-decoration: none;
}

//variables

$primary:rgb(116 , 34, 150, 1);
$ordinary:white;

@font-face {
    font-family: "mycustomfont";
    src: url(JosefinSans-Regular.ttf);
   
}

@font-face {
    font-family: "style";
    src: url(GreatVibes-Regular-webfont.ttf);
}


body {
   
    background-color: white;
    color: black;
  
  }
  
  .dark-mode {
    background-color: black;
    color: white;

    .navigation a{
        color: white;
    }

    .navigation .dropbtn{
        background-color: #000;
    }
    .banner .text h1 {
    
        color: white;
    }
    
    .banner .text p {
        
        color: white;
    
       
    }
    
    .banner .text i {
        
            color: white;
        }

        #ABOUT .container p {
          
            color: white;
            
        }

     #ABOUT h3 {
            color: white;
        }

        #SERVICES .service h3 {
            
            color: white;
            
        }

        #TESTIMONIALS h3 {
color: white;
        }

        .socials h3 {
            color: white;
        }

        img{
            border-color: black;
        }

        .banner .text .para1 {
            i{
                color: rgb(116, 34, 150, 1) 
            }
            color: rgb(116, 34, 150, 1);
        }
       .navigation .dropbtn:hover, .dropbtn:focus {
            background-color:black;
          }
      .navigation ul{
        background-color: #000;
       
      } 
      
      .navigation nav ul #cancel {
        
        color: white;
       
    }
}
      
    

  
  


  
// NAVIGATION

.navigation{
    display: flex;
    justify-content: space-between;
    
   .snav{
        display: flex;
       
       align-items: center;
 
        justify-content: space-evenly;
      
    
         li{
    
            display: inline-block;
            // line-height: 80px;
            // margin: 0 15px;
         }
    
        
    
    
            label{
                display: block;
               
               i{  
             
                font-size: 30px;
                float: right;
                
                padding: 10px;
                margin: 20px 40px;
                cursor: pointer;
                display: none;
            }
            }
    
            #check{
                display: none;
            }
    
        }  
        
    
    
    
    .logo{
      
       margin: 20px 0;
       position: relative;
       left: 3%;
       img{
        object-fit: cover;
        width: 200px;
         height: 65px;}
    }

    
    nav{
        display: inline;
        

      a{
        font-family: "mycustomfont";
        text-decoration: none;
        margin: 0 10px;
        font-size: 25px;
        font-weight: 600;
        color: black;
        
    }  

    .serve{
      
          color: rgb(116 , 34, 150, 1);
      } 

    }

    .light{
        border-radius: 50%;
         right: 17%;
       
        position: relative;
        width: 40px;
        height: 40px;
        margin: 25px 0;
        cursor: pointer;
    }
   
   
 .dropbtn {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 

  .dropbtn:hover, .dropbtn:focus {
    background-color:white;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}
  
 
  .show {display:block;} 
      
}



// BANNER

.banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
    margin: 10px 60px 60px 60px;

   .text{
 
   
    h1{
        font-family: "mycustomfont"; 
        font-size: 40px;
        font-weight: 700;
        color: #000;
    }

    p{
        margin: 15px 0;
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 500; 
        line-height: 1.2;
        color: #000;

        
    i{
      font-size: 23px;
        color:black;
        margin: 0 5px 0 0;
    }
    }

    .para1{
        font-size: 18px;
        color: rgb(116 , 34, 150, 1);
        margin: 40px 0 20px;
     }

 .para2{
 margin: 0;
font-size: 18px;
}


a{
    font-family: "mycustomfont"; 
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    width: 200px;
    height: 55px;
    padding: 10px;
    margin: 0px 15px 0px 0;
    border: solid rgb(116 , 34, 150, 1);
    border-width: 4px 8px;
   
  
}

.button1{
    color: white;
    background-color: $primary; 
   
}

.button2{
    color: black;
    background-color: white;
  
  
}

   }
   .images{ 
   
    display:flex;
    
    
    img{
        width: 185px;
        height: 500px;
       
    }
    .top{
        object-fit: cover;
      margin: 50px 5px 0  0;
    }

    .bottom{
      
        margin: 0 5px 50px 0;
        object-fit: cover;
    }
}


}

// about
#ABOUT{
    padding: 10px 0px 40px 0px;
    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 60px 40px 20px 60px;
    }
.container{
     padding: 0 100px 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: start;

    p{
        font-family: "mycustomfont"; 
       font-size: 16px;
        font-weight: 500; 
        color: #000; 
        line-height: 1.2;
        letter-spacing: 1px;
       margin: 10px 0 10px 0;
      
      
    }

    .pictext{
        position: relative;
   
        display: flex;
        justify-content: center;
        align-items: start;
         flex-direction: column;    
        img{
            width: 250px;
            height: 46vh;
            object-fit: fill;
        }
      
p{ width: 70%;
}
        .M1{
          margin: 10px 0 0 0;
            
        }

        .M2{
            position: absolute;
            top: 50%;
            left: 46%;
        }
    }

    .vidtext{
    //    margin:  30px  0 0 0;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: start;
flex-direction: column; 
        .dance{
            height: 50vh;
         width: 400px;
            margin: 0 0 10px 0;
        }

        .youtube{
            border-radius: 8px;
           
            position: absolute;
            top: 25%;
            left: 40%;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "mycustomfont"; 
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            // width: 150px;
            // height: 50px;
            padding: 10px;
        //    position: relative;
        //    top: 12%;
          
        }

        p{
         width: 90%;}

        .button1{
            border-width: 4px 8px;
            color: white;
            background-color: $primary; 
            border: solid rgb(116 , 34, 150, 1);
            margin: 24px 0 0 0;
        }
    
    }
}
}

// services

#SERVICES {
      margin: 20px;
      padding:40px;
   .service{
     h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 0  0 20px 0;
    }

    .images{

        .lin{
        width: 350px;
         height: 500px;
        }
        .next{
       
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
       
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 20px;
    
        .digitalservice{
            padding: 10px;
            position: relative;
            p{
                font-family: "mycustomfont"; 
                font-size: 20px;
                font-weight: 500; 
                margin: 10px;
            }
    
            li{
                list-style: number;
                font-family: "mycustomfont"; 
                font-size: 20px;
                font-weight: 500; 
                margin: 15px;
                line-height: 1.4;
            }

            .hr{
               
                height: 2px;
                color: white;
                background-color: white;
                border-color: white;
               position: relative;
               right: 14px;
                width: 66px;
            }

             
     .over2{    
          position: absolute;
              top: 90%;
              right: 0%;
              background-color: #f7f7f7;
              padding: 5px;
             
      }    
           margin: 20px;
            width: 350px;
            height: 500px;
            color: white;
            background-color: rgb(116 , 34, 150, 1);  
        }

 .middle{ position: relative;
       
        .over1{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 92%;
              left: 46%;
p{
margin: 0 60px 0 0;
}  } }

 
        .middle{ position: relative;
       
        .over3{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 92%;
              left: 46%;
p{
margin: 0 60px 0 0;

}
             
            
            
         } 

  }
          
    }
}


}

// what they say

#TESTIMONIALS{
    margin: 60px 60px 0 60px;
     

      .container{
 
      padding: 40px 0;
         display: flex;
         justify-content: space-evenly;

      p{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        margin: 10px 0 10px 0;
        
    }

    .h{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700; 
        margin: 20px 0 10px 0;
    }

      .human{
        object-fit: cover;
        width: 400px;
         height: 250px;
        }

        .arrow{
        img{
            width: 50px;
            height: 51px;}
        }

        .ceo{
            position: relative;
           .arrow{
         img{ position: absolute;
          top: 43%;
             left: 88%;}
           }
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
           .bride{
         .arrow{
         img{ position: absolute;
          top: 43%;
             left: 88%;}
           }
        position: relative;
        bottom:  56px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           }
      }

    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        // margin: 0  0 40px 0;
    }

  
}

// socials

.socials{
    text-align: center;
    padding: 40px;
    h3{
        font-family: "mycustomfont"; 
        font-size: 30px;
        font-weight: 700;
        color: #000;
        margin: 0  0 80px 0;
        text-shadow: grey 2px 2px 2px;

        span{
            font-family: "style";
            font-size: 30px;
            font-weight: 100;
        }
    }

 .container  { 
  position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   
   img{
    width: 153px;
    height: 350px;
    margin: 5px;
   }
 
}

.top{
    object-fit: cover;
    position: relative;
 bottom:  40px;
}

.botttom{
  object-fit: cover;
 position: relative;
 top: 40px;
  
}

p{
    font-family: "mycustomfont"; 
    font-size: 22px;
    font-weight: 700; 
    margin: 90px 0 0 0 ;
}

.button1{
    color: white;
    background-color: $primary; 
    border: solid rgb(116 , 34, 150);
border-width: 4px 8px;
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        width: 150px;
        height: 50px;
        padding: 10px;
       
      
    
}


}

// footer

.footer{
    padding: 40px;
    background-color: rgb(116 , 34, 150);
 display: flex;
 justify-content: space-evenly;
 color:white;
    .logo{
       
        img{
            margin: 10px;
         object-fit: cover;
          height: 8vh;
        width: 150px;}
     }

     p{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 500; 
        margin: 0 0 15px 0;
        
    }  

    .ico{
        margin: 0 0 8px 0px;
    }

    .para{
        text-decoration: underline;
       
    }

    .copy1{
        margin: 0 0 8px 40px;
    }

    .copy{

        i{
            font-size: 18px;
            
        }
    }

    i{
        font-size: 30px;
        margin: 10px;
    }

  .content1{  i{
        font-size: 18px;
       margin: 5px;
    }}

   
     
}



// MEDIA QUIRIES
@media only screen and (max-width: 575.98px) {
  // NAVIGATION

.navigation{
    margin: 20px  0;
    display: flex;
    justify-content: space-between;
 
    .logo{
       
       img{
        object-fit: cover;
         height: 10vh;}
    }

    
    .nav{
        display: none;
        justify-content: center;
        align-items: center;

      a{
        font-family: "mycustomfont";
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
        font-weight: 600;
        color: black;
        
    }  

    .serve{
      
          color: rgb(116 , 34, 150);
      } 

    }

    // .light{

    //     position: relative;
    //     height: 40px;
    //     width: 40px;
    //     margin: 20px 0;
    //     right: 13%;
    // }

    .light{
        border-radius: 50%;
         right: 8%;
       
        position: relative;
        width: 40px;
        height: 40px;
        margin: 31px 0;
        cursor: pointer;
    }

    

   

// .dropbtn {
//     background-color:white;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//     cursor: pointer;
//   }
 

//   .dropbtn:hover, .dropbtn:focus {
//     background-color:white;
//   }
  
  
//   .dropdown {
//     position: relative;
//     display: inline-block;
//   }
  
  
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//   }
  

//   .dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//   }
  

//   .dropdown-content a:hover {background-color: #ddd}
  
 
//   .show {display:block;} 
      
}

// BANNER

.banner{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
    margin: 0px 30px 30px 30px;

   .text{

  
   
    h1{
        font-family: "mycustomfont"; 
        font-size: 25px;
        font-weight: 700;
        color: #000;
    }

    p{
        margin: 20px 0 0 0;
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        line-height: 1.4;
        // letter-spacing: 2px;
        color: #000;
    }

    .para1{
    font-size: 16px;
    margin: 25px 0 10px 0;
       color: rgb(116 , 34, 150);
    }

    .para2{
font-size: 16px;
    margin: 0 0 10px 0;
    }

    i{
        margin: 0 10px 0 0;
    }
     a{
        font-family: "mycustomfont"; 
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        // width: 200px;
        // height: 50px;
        padding: 5px;
        margin: 20px 10px 10px 0;
      
    }

    .button1{
        color: white;
        background-color: $primary; 
        border: solid rgb(116 , 34, 150);
        border-width: 4px 8px;
    }

    .button2{
        color: black;
        background-color: white;
       border: solid rgb(116 , 34, 150) ;
       border-width: 4px 8px;
      
    }
}
   .images{  
    
  justify-content: center;
    display:flex;
       
    img{
        width: 153px;
        height: 383px;
        margin: 20px;
    }
    .top{
        object-fit: cover;
   margin: 0;
    }

    .bottom{
        display: none;
       
    }
}


}

// about
#ABOUT{
    padding: 0 0 30px 0;
    h3{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 40px 30px 20px 30px;
    }
.container{
padding: 0;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;

    p{
        font-family: "mycustomfont"; 
       font-size: 16px;
        font-weight: 300; 
        color: #000; 
        line-height: 1.4;
        letter-spacing: 1px;
       margin: 10px 0;
     
    }

    .pictext{
        position: relative;
        margin: 0 30px ;
        display: flex;
        justify-content: center;
        align-items: center;
         flex-direction: column;    
        img{
            width: 301px;
            height: 415px;
            object-fit: cover;
        }
       p{ width: 100%;}

        .M1{
          margin: 10px ;
            
        }

        .M2{
            display: none;
            // position: absolute;
            // top: 47%;
            // left: 56%;
        }
    }

    .vidtext{

        position: relative;
        margin: 0 30px ;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column; 
        .dance{
            display: none;
        //     height: 200px;
        //  width: 200px;
        //     margin: 0 0 10px 0;
        }
p {width: 100%;}
        .youtube{
            display: none;
            // position: absolute;
            // top: 30%;
            // left: 30%;
        }
        a{
            font-family: "mycustomfont"; 
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            // width: 200px;
            // height: 50px;
            padding: 10px;
        //    position: relative;
        //    top: 12%;
          
        }

        .button1{
            border-width: 4px 8px;
            color: white;
            background-color: $primary; 
            border: solid rgb(116 , 34, 150);
            margin: 12px 0 0 0;
        }
    
    }
}
}

// services
#SERVICES {
      margin: 0px;
      padding:20px;
   .service{
     h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 0  0 40px 0;
    }

    .images{

        .lin{
        width: 313px;
         height: 500px;
         object-fit: cover;
        }
        .next{
       
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
       
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // margin: 20px;
    
        .digitalservice{
            padding: 10px;
            position: relative;
            p{
                font-family: "mycustomfont"; 
                font-size: 16px;
                font-weight: 500; 
                margin: 10px;
            }
    
            li{
                list-style: number;
                font-family: "mycustomfont"; 
                font-size: 16px;
                font-weight: 500; 
                margin: 15px;
                
            }

            .hr{
               
                height: 2px;
                color: white;
                background-color: white;
                border-color: white;
               position: relative;
               right: 14px;
                width: 66px;
            }

             
     .over2{    
          position: absolute;
              top: 90%;
              right: 0%;
              background-color: white;
              padding: 5px;
             
      }    
           margin: 20px;
            width: 313px;
            height: 500px;
            color: white;
            background-color: rgb(116 , 34, 150);  
        }

 .middle{ position: relative;
       
        .over1{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 92%;
              left: 40%;
p{
margin: 0 60px 0 0;
}  } }

 
        .middle{ position: relative;
       
        .over3{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 92%;
              left: 40%;
p{
margin: 0 60px 0 0;

}
             
            
            
         } 

  }
          
    }
}


}
// what they say

#TESTIMONIALS{
    margin:  30px;
     

      .container{
 
      padding: 0;
         display: flex;
         flex-direction: column;
         justify-content: center;

      p{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        margin: 10px 0 10px 0;
        
    }

    .h{
        font-family: "mycustomfont"; 
        font-size: 14px;
        font-weight: 700; 
        margin: 40px 0 10px 0;
    }

      .human{
        object-fit: cover;
        width: 316px;
         height: 250px;
        }

        .ceo{
         position: relative;
           .arrow{
         img{ position: absolute;
          top: 41%;
             left: 86%;}
           }
           margin: 0 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
           .bride{
        //    margin: 0 0 90px 0;
        position: relative;

         .arrow{
         img{ position: absolute;
          top: 41%;
             left: 86%;}
           }
        bottom:  0px; 
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           }
      }

    h3{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 0  0 30px 0;
    }

  
}

// socials

.socials{
    text-align: center;
    padding: 0;
    h3{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700;
        color: #000;
        margin: 0 0 20px 0;
        text-shadow: grey 2px 2px 2px;
    }

 .container  { 
  position: relative;
   display: flex;
//    flex-direction: column;
flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   
   img{
    width: 100px;
    height: 250px;
    margin: 5px;
   }
 
}

.top{
    object-fit: cover;
    position: relative;
 bottom:  0px;
}

.botttom{
  object-fit: cover;
 position: relative;
 top: 0px;
  
}

p{
    font-family: "mycustomfont"; 
    font-size: 16px;
    font-weight: 500; 
    margin: 20px 0 0 0 ;
}

.button1{
    color: white;
    background-color: $primary; 
    border: solid rgb(116 , 34, 150);
border-width: 4px 8px;
        font-family: "mycustomfont"; 
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        width: 200px;
        height: 50px;
        padding: 10px;
       
      
    
}


}

// footer

.footer{
margin: 30px 0 0 0;
    padding: 40px;
    background-color: rgb(116 , 34, 150);
 display: flex;
flex-wrap: wrap;
 justify-content: space-evenly;
 color:white;
    .logo{
       display: flex;
       justify-content: center;
       align-items: center;
        img{
            margin: 10px;
         object-fit: cover;
          height: 5vh;
        width: auto;}
     }

     p{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        margin: 10px 0 10px 0;
        
    }  

     .copy1{
        margin: 0 0 20px 40px;
    }

    .copy{

        i{
            font-size: 18px;
        }
    }

    i{
     
        font-size: 30px;
        margin: 0 10px ;
    }
    .ico{display: flex;
       justify-content: center;
       align-items: center;}

  .content1{  
   
    padding: 10px 0 10px 0;
    i{
        font-size: 18px;
       margin: 5px;
    }}
.content{
    
  padding: 10px 0 10px 0;  
}
   
     
}

 }


@media only screen  and (min-width:577px) and (max-width:992px) {
// NAVIGATION

.navigation{
    display: flex;
    justify-content: space-between;
    
   .snav{
        display: flex;
       
       align-items: center;
 
        justify-content: space-evenly;
      
    
         li{
    
            display: inline-block;
            // line-height: 80px;
            // margin: 0 15px;
         }
    
        
    
    
            label{
                display: block;
               
               i{  
             position: relative;
                font-size: 30px;
                float: right;
                left: 0;
                padding: 10px;
                margin: 20px 40px;
                cursor: pointer;
                display: none;
                        left: 139px;
            }
            }
    
            #check{
                display: none;
            }
    
        }  
        
    
    
    
    .logo{
       margin: 20px 0;
       position: relative;
       left: 3%;
       img{
        object-fit: cover;
         height: 8vh;}
    }

    
    nav{
        display: inline;
        // justify-content: space-evenly;
        // align-items: center;

      a{
        font-family: "mycustomfont";
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
        font-weight: 700;
        color: black;
        
    }  

    .serve{
      
          color: rgb(116 , 34, 150);
      } 

    }

    .light{
         right: 10%;
        position: relative;
  width: 40px;
  height: 40px;
        margin: 40px 0;
    
    }
   

 .dropbtn {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 

  .dropbtn:hover, .dropbtn:focus {
    background-color:white;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}
  
 
  .show {display:block;} 
      
}



// BANNER

.banner{
   display: flex;
   justify-content: space-between;
  
   align-items: center;
    margin: 10px 30px 30px 30px;

   .text{

  
   
    h1{
        font-family: "mycustomfont"; 
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }

    p{
        margin: 20px 0;
        font-family: "mycustomfont"; 
        font-size: 18px;
        font-weight: 700; 
        // line-height: 1.4;
        // letter-spacing: 2px;
        color: #000;
    }

    .para1{
       color: rgb(116 , 34, 150);
    }

    i{
        margin: 0 10px 0 0;
    }
     a{
        font-family: "mycustomfont"; 
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        // width: 200px;
        // height: 50px;
        padding: 10px;
        margin: 20px 10px 10px 0;
      
    }

    .button1{
        color: white;
        background-color: $primary; 
        border: solid rgb(116 , 34, 150);
        border-width: 4px 8px;
    }

    .button2{
        color: black;
        background-color: white;
       border: solid rgb(116 , 34, 150) ;
       border-width: 4px 8px;
      
    }
}
   .images{ 
   
    display:flex;
    
    
    img{
        width: 166px;
        height: 400px;
       
    }
    .top{
    display: none;
        object-fit: cover;
      margin: 50px 3px 0  0;
    }

    .bottom{
      
        margin: 0 5px 0px 0;
        object-fit: cover;
    }
}


}

// about
#ABOUT{
    padding: 0;
    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 40px;
    }
.container{
padding: 0;
    display: flex;
    flex-direction: column;
    margin: 30px;
    // justify-content: center;
    // align-items: center;

    p{
        font-family: "mycustomfont"; 
       font-size: 18px;
        font-weight: 600; 
        color: #000; 
        // line-height: 1.4;
        // letter-spacing: 1px;
       margin: 10px 0 10px 0;
      
    }

    .pictext{
        position: relative;
        margin: 0 0 60px 0;
        display: flex;
        justify-content: start;
        align-items: start;
      
         flex-direction: column;    
        img{
        width: 334px;
        height: 421px;
            object-fit: cover;
        }
       p{ width: 100%;}

        .M1{
          margin: 10px 10px 0 0;
          
        }

        .M2{
            position: absolute;
           top: 25%;
        left: 50%;
        }
    }

    .vidtext{
        position: relative;
        display: flex;
        // justify-content: start;
        // align-items: start;
flex-direction: column; 
        .dance{
            height: 560px;
         width: 690px;
            margin: 0 0 10px 0;
        }

        .youtube{
            position: absolute;
            top: 35%;
            left: 43%;
        }
        a{
            font-family: "mycustomfont"; 
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            // width: 200px;
            // height: 50px;
            padding: 10px;
        //    position: relative;
        //    top: 12%;
          
        }
p{ width: 100%;}
        .button1{
            border-width: 4px 8px;
            color: white;
            background-color: $primary; 
            border: solid rgb(116 , 34, 150);
            margin: 12px 0 0 0;
        }
    
    }
}
}

// services

#SERVICES {
      margin: 0px;
    //   padding:50px;
   .service{
     h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 0  0 50px 0;
    }

    .images{

        .lin{
        width: 300px;
         height: 500px;
         margin: 10px 0 10px  0 ;
        }
        .next{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
       
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // margin: 20px;
    
        .digitalservice{
            padding: 10px;
            margin: 10px 0 10px  20px ;
            p{
                font-family: "mycustomfont"; 
                font-size: 16px;
                font-weight: 500; 
                margin: 10px;
            }
    
            li{
                list-style: number;
                font-family: "mycustomfont"; 
                font-size: 16px;
                font-weight: 500; 
                margin: 15px;
                line-height: 1.4;
            }

            .hr{
                width: 60px;
                height: 2px;
                color: white;
                background-color: white;
                border-color: white;
               
            }
    
            .over2{    
          position: absolute;
              top: 88%;
              right: 0%;
              background-color: white;
              padding: 5px;
             
      }    
            width: 300px;
            height: 500px;
            color: white;
            background-color: rgb(116 , 34, 150);  
        }

    .middle{ position: relative;
       
        .over1{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 88%;
              left: 33%;
p{
margin: 0 60px 0 0;
}  } }

 
        .middle{ position: relative;
       
        .over3{
            display: flex;
            align-items: end;
            position: absolute;
           
                font-family: "mycustomfont";
                font-weight: 900;
                font-size: 30px;
                color: white;
              position: absolute;
              top: 88%;
              left: 33%;
p{
margin: 0 60px 0 0;

}
             
            
            
         } 

  }
          
          
         
          }
}


}

// what they say

#TESTIMONIALS{
    margin: 30px 30px 0 30px;
     

      .container{
 
      padding: 40px 0;
         display: flex;
         justify-content: space-evenly;

      p{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        margin: 10px 0 10px 0;
        
    }

    .h{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700; 
        margin: 20px 0 10px 0;
    }

      .human{
        object-fit: cover;
        width: 308px;
         height: 250px;
        }

        .ceo{
           position: relative;
           .arrow{
         img{ position: absolute;
          top: 44%;
             left: 85%;}
           }
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
           .bride{
        //    margin: 0 0 90px 0;
        position: relative;
           .arrow{
         img{ position: absolute;
          top: 44%;
             left: 85%;}
           }
       
        bottom:  0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           }
      }

    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 0  0 40px 0;
    }

  
}

// socials

.socials{
    text-align: center;
    padding: 40px;
    h3{
        font-family: "mycustomfont"; 
        font-size: 30px;
        font-weight: 900;
        color: #000;
        margin: 0  0 80px 0;
        text-shadow: grey 2px 2px 2px;

        span{
            font-family: "style";
            font-size: 30px;
            font-weight: 100;
        }
    }

 .container  { 
  position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   
   img{
    width: 161px;
    height: 350px;
    margin: 5px 5px 60px 5px;
 
   }
 
}

.top{
    object-fit: cover;
    position: relative;
 bottom:  20px;
}

.botttom{
  object-fit: cover;
 position: relative;
 top: 20px;
  
}

p{
    font-family: "mycustomfont"; 
    font-size: 16px;
    font-weight: 500; 
    margin: 0 ;
}

.button1{
    color: white;
    background-color: $primary; 
    border: solid rgb(116 , 34, 150);
border-width: 4px 8px;
        font-family: "mycustomfont"; 
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        width: 200px;
        height: 50px;
        padding: 10px;
       
      
    
}


}

// footer

.footer{
    padding: 20px;
    background-color: rgb(116 , 34, 150);
 display: flex;
 justify-content: space-between;
 
 
 color:white;
    .logo{
       
        img{
            margin: 10px;
         object-fit: cover;
          height: 5vh;
        width: 150px;}
     }

     p{
        font-family: "mycustomfont"; 
        font-size: 14px;
        font-weight: 500; 
        margin: 0 ;
        
    }  

    .para{
        text-decoration: underline;
       
    }

    .copy1{
        margin: 0 0 0px 20px;
    }

    .copy{

        i{margin: 5px;
            font-size: 14px;
        }
    }

    i{
        font-size: 25px;
        margin: 5px;
    }

   
  .content1{ 
   
   i{
        font-size: 18px;
       margin: 5px;
    }}
     
}


}

@media only screen and (min-width:993px) and (max-width:1024px) {

// NAVIGATION

.navigation{
    display: flex;
    justify-content: space-between;
    
   .snav{
        display: flex;
       
       align-items: center;
 
        justify-content: space-evenly;
      
    
         li{
    
            display: inline-block;
            // line-height: 80px;
            // margin: 0 15px;
         }
    
        
    
    
            label{
                display: block;
               
               i{  
             
                font-size: 30px;
                float: right;
                
                padding: 10px;
                margin: 20px 40px;
                cursor: pointer;
                display: none;
            }
            }
    
            #check{
                display: none;
            }
    
        }  
        
    
    
    
    .logo{
       margin: 20px 0;
       position: relative;
       left: 3%;
       img{
        object-fit: cover;
         height: 6vh;}
    }

    
    nav{
        display: inline;
        // justify-content: space-evenly;
        // align-items: center;

      a{
        font-family: "mycustomfont";
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
        font-weight: 700;
        color: black;
        
    }  

    .serve{
      
          color: rgb(116 , 34, 150);
      } 

    }

    .light{
         right: 9%;
        position: relative;
        height: 3vh;
        margin: 35px 0;
    
    }
   

 .dropbtn {
    background-color:white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 

  .dropbtn:hover, .dropbtn:focus {
    background-color:white;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd}
  
 
  .show {display:block;} 
      
}



// BANNER

.banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
    margin: 10px 30px 30px 30px;

   .text{

  
   
    h1{
        font-family: "mycustomfont"; 
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }

    p{
        margin: 20px 0;
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700; 
        // line-height: 1.4;
        // letter-spacing: 2px;
        color: #000;
    }

    .para1{
       color: rgb(116 , 34, 150);
    }

    i{
        margin: 0 10px 0 0;
    }
     a{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        // width: 200px;
        // height: 50px;
        padding: 10px;
        margin: 0px 10px 10px 0;
      
    }

    .button1{
        color: white;
        background-color: $primary; 
        border: solid rgb(116 , 34, 150);
        border-width: 4px 8px;
        
    }

    .button2{
        color: black;
        background-color: white;
       border: solid rgb(116 , 34, 150) ;
       border-width: 4px 8px;
       
    }
}
   .images{ 
   
    display:flex;
    
    
    img{
        width: 180px;
        height: 500px;
       
    }
    .top{
        object-fit: cover;
      margin: 50px 5px 0  0;
    }

    .bottom{
      
        margin: 0 5px 50px 0;
        object-fit: cover;
    }
    :is(:last-child){display: none;}
}
 

}

// about
#ABOUT{
    padding: 0 0 30px 0;
    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 40px;
    }
.container{
padding: 16px;
    display: flex;
    justify-content: space-around;

    p{
        font-family: "mycustomfont"; 
       font-size: 16px;
        font-weight: 600; 
        color: #000; 
        // line-height: 1.4;
        // letter-spacing: 1px;
       margin: 10px 0 10px 0;
      
    }

    .pictext{
        position: relative;
        // margin: 0 0 40px 0;
        display: flex;
        justify-content: start;
        align-items: start;
         flex-direction: column;    
        img{
            width: 220px;
            height: 332px;
            object-fit: cover;
        }
      
P{width:80% ;}
        .M1{
          margin: 10px 0 0 0;
            
        }

        .M2{
            position: absolute;
            top: 57%;
            left: 44%;
        }
    }

    .vidtext{
        position: relative;
        display: flex;
        justify-content: start;
        align-items: start;
flex-direction: column; 
        .dance{
            height: 420px;
         width: 417px;
            margin: 0 0 10px 0;
        }
P{width:80% ;}
        .youtube{
            position: absolute;
            top: 30%;
            left: 40%;
        }
        a{
            font-family: "mycustomfont"; 
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            // width: 200px;
            // height: 50px;
            padding: 10px;
        //    position: relative;
        //    top: 12%;
          
        }

        .button1{
            border-width: 4px 8px;
            color: white;
            background-color: $primary; 
            border: solid rgb(116 , 34, 150);
            margin: 12px 0 0 0;
        }
    
    }
}
}

// services

#SERVICES {
    margin: 0px;
    padding:10px;
 .service{
   h3{
      font-family: "mycustomfont"; 
      font-size: 20px;
      font-weight: 700;
      color: #000;
      margin: 0  0 50px 0;
  }

  .images{

      .lin{
      width: 300px;
       height: 420px;
      
      }
      .next{
          width: 50px;
          height: 50px;
          object-fit: cover;
      }
     
      display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
      // margin: 20px;
  
      .digitalservice{
          padding: 10px;
          margin: 0 10px 0 10px ;
          p{
              font-family: "mycustomfont"; 
              font-size: 16px;
              font-weight: 500; 
              margin: 10px;
          }
  
          li{
              list-style: number;
              font-family: "mycustomfont"; 
              font-size: 16px;
              font-weight: 500; 
              margin: 15px;
              
          }

          .hr{
              width: 60px;
              height: 2px;
              color: white;
              background-color: white;
              border-color: white;
             
          }
  
          .over2{    
        position: absolute;
            top: 88%;
            right: 0%;
            background-color: white;
            padding: 5px;
           
    }    
          width: 300px;
          height: 420px;
          color: white;
          background-color: rgb(116 , 34, 150);  
      }

  .middle{ position: relative;
     
      .over1{
          display: flex;
          align-items: end;
          position: absolute;
         
              font-family: "mycustomfont";
              font-weight: 900;
              font-size: 30px;
              color: white;
            position: absolute;
            top: 88%;
            left: 34%;
p{
margin: 0 60px 0 0;
}  } }


      .middle{ position: relative;
     
      .over3{
          display: flex;
          align-items: end;
          position: absolute;
         
              font-family: "mycustomfont";
              font-weight: 900;
              font-size: 30px;
              color: white;
            position: absolute;
            top: 88%;
            left: 34%;
p{
margin: 0 60px 0 0;

}
           
          
          
       } 

}
        
        
       
        }
}


}


// what they say

#TESTIMONIALS{
    margin: 30px 30px 0 30px;
     

      .container{
 
      padding: 40px 0;
         display: flex;
         justify-content: space-evenly;

      p{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 500; 
        margin: 10px 0 10px 0;
        
    }

    .h{
        font-family: "mycustomfont"; 
        font-size: 16px;
        font-weight: 700; 
        margin: 20px 0 10px 0;
    }

      img{
        object-fit: cover;
        width: 400px;
         height: 250px;
        }

        .ceo{
           
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
           .bride{
        //    margin: 0 0 90px 0;
        position: relative;
        bottom:  0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
           }
      }

    h3{
        font-family: "mycustomfont"; 
        font-size: 20px;
        font-weight: 700;
        color: #000;
        margin: 0  0 40px 0;
    }

  
}

// socials

.socials{
    text-align: center;
    padding: 40px;
    h3{
        font-family: "mycustomfont"; 
        font-size: 30px;
        font-weight: 900;
        color: #000;
        margin: 0  0 80px 0;
        text-shadow: grey 2px 2px 2px;

        span{
            font-family: "style";
            font-size: 30px;
            font-weight: 100;
        }
    }

 .container  { 
  position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   
   img{
    width: 140px;
    height: 350px;
    margin: 5px;
   }
 
}

.top{
    object-fit: cover;
    position: relative;
 bottom:  40px;
}

.botttom{
  object-fit: cover;
 position: relative;
 top: 40px;
  
}

p{
    font-family: "mycustomfont"; 
    font-size: 16px;
    font-weight: 500; 
    margin: 60px 0 0 0 ;
}

.button1{
    color: white;
    background-color: $primary; 
    border: solid rgb(116 , 34, 150);
border-width: 4px 8px;
        font-family: "mycustomfont"; 
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        width: 200px;
        height: 50px;
        padding: 10px;
       
      
    
}


}

// footer

.footer{
    padding: 20px;
    background-color: rgb(116 , 34, 150);
 display: flex;
 justify-content: space-evenly;
 color:white;
    .logo{
       
        img{
            margin: 10px;
         object-fit: cover;
          height: 4vh;
        width: 150px;}
     }

     p{
        font-family: "mycustomfont"; 
        font-size: 15px;
        font-weight: 500; 
        margin: 10px;
        
    }  

    .para{
        text-decoration: underline;
       
    }

    .copy1{
        margin: 0 0 20px 40px;
    }

    .copy{

        i{
            font-size: 18px;
        }
    }

    i{
        font-size: 30px;
        margin: 10px;
    }

  .content1{  i{
        font-size: 18px;
       margin: 5px;
    }}
     
}


}







@media only screen and (min-width: 560px) and (max-width:993px) {
    .navigation{ 
    
        nav{
            .logo{
                width: 58%;
            }
            label {
    
                i{
                    font-size: 20px;
                    margin: 40px 70px;
                   
                }
                
            #btn{
                display: block;
            }
        }
    
        ul{
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: white;
            top: 0px;
            left: -108%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            transition:  1s  ;
    
            li{
                display: block;
                margin: 50px 0;
                line-height: 30px;
        
                a{
                    font-size: 25px;
                    color: black;
                 
                }
            
            }
            #cancel{
                    display: block;
                    // position: fixed;
                    top: 10px;
                    right: 10px;
                    width: 50px;
                    height: 50px;
                    color: black;
                    cursor: pointer;
                    z-index: 9999;
                  }
        }
    
        
    
       
        #check:checked~ ul{
            left: -3%;

           z-index: 2;
        }
    
        #check:checked~ label #btn{
           display: none;
        } 
    
        #check:checked~ label #cancel{
           display: block;
        }

        #check:checked~ .logo{
            display: none;
        }

      
       
    }
    }
    
    } 
    


@media (max-width: 559px) {

   .navigation{ 

    .light{

     .light{
        border-radius: 50%;
         right: 8%;
       
        position: relative;
        width: 50px;
        height: 50px;
        margin: 35px 0;
        cursor: pointer;
    }
            
      
   }
    
    nav{
       
        label {

            i{
                font-size: 40px;
                margin: 20px 15px;
               
            }
            
        #btn{
            display: block;
        }
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 0px;
        left: -108%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        transition:  1s  ;
       

        li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
    
            a{
                font-size: 40px;
                color: black;
              
            }
        
        }

        #cancel{
                    display: block;
                    // position: fixed;
                    top: 10px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                    color: black;
                    cursor: pointer;
                    z-index: 9999;
                  }
       
    }

   

   
    #check:checked~ ul{
        left: -5%;
        z-index: 2;
    }

    #check:checked~ label #btn{
       display: none;
    } 

    #check:checked~ label #cancel{
       display: block;
      
    }

    #check:checked~ .logo{
        display: none;
    }

   

}

    }

   }

@media only screen and (min-width: 1400px){
   .banner .images img {
    width: 200px;
    height: 541px;
}

#ABOUT .container .vidtext .dance {
    height: 58vh;
    width: 479px;
    margin: 0 0 10px 0;
}

#ABOUT .container .pictext img {
    width: 300px;
    height: 49vh;
    -o-object-fit: fill;
    object-fit: fill;
}

#ABOUT .container .vidtext .youtube {
    border-radius: 8px;
    position: absolute;
    top: 33%;
    left: 40%;
}

#ABOUT .container .pictext .M2 {
    position: absolute;
    top: 48%;
    left: 47%;
}


}













